body {
  font-family: "Mukta", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dark-mode h1 {
  color: white;
}

.light-mode h1 {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.dark-mode li {
  color: white;
}

.light-mode li {
  color: black;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px-auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.light-mode .weather-app {
  background-image: linear-gradient(
    to right top,
    #ffc300,
    #ffbd00,
    #ffb700,
    #ffb000,
    #ffaa00
  );
  color: black;
}
.dark-mode .weather-app {
  background-image: linear-gradient(
    to right top,
    #3b0944,
    #440d48,
    #4d104c,
    #561450,
    #5f1854
  );
  color: white;
}

.overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temp strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.dark-mode .weather-temp strong {
  color: white;
}

.light-mode .weather-temp strong {
  color: rgb(33 33 33);
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.dark-mode .weather-temp .active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.light-mode .weather-temp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.btn {
  text-align: center;
}
.weather-temp .active:hover {
  text-decoration: none;
}

.light-mode .btn {
  background-color: #ff7b00;
}

.light-mode .btn:hover {
  background-color: #e05d5d;
}

.dark-mode .btn {
  background-color: #3b0944;
}
